/* 
Container stylings for the button and slider
*/

.containerA {
    display: grid;
    position: relative;
    left: 25%;
    height: 50px;
    width: fit-content;
    grid-template-columns: 1fr 1fr 2fr 2fr; 
    grid-template-rows: 1fr;
    column-gap: 10%;
    
    grid-template-areas: "playoff-season-labelA checkbox playoff-season-labelB checkbox";
}

#heatmap-svg-div{
    width: fit-content;
}

#heatmap-div{
    width: fit-content;
    margin: auto;
}

#header-wrap{
    width: fit-content;
}

#Mamba-body{
    background-color: rgb(255, 255, 255);
}

/* label stylings */
#playoff-season-labelA {
    grid-area: "playoff-season-labelA";
    left: 10%;
}

#playoff-season-labelB {
    grid-area: "playoff-season-labelB";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.toggle-button {
    display: block;
    position: relative;
    padding-top: 5%;
    font-size: 35px;
    font-weight: bold;
}

.toggle-button input {
    position: absolute;
    opacity: 1;
    height: 30px;
    width: 30px;
}

#dropdown {
    padding-left: 6.5%;
    font-size: 25px;
    /* position: absolute; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#selectNow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* 
Styling for the wrapper containing the svg
*/
.wrapper {
    display: grid;
    width: fit-content;
    margin: auto;
    height: fit-content;
    display: inline-block;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 2.5%;

    grid-template-areas: "heatmap subVis";
}

/* 
Styling for the container below the shot chart
*/
.containerB {
    display: grid;
    position: relative;
    left: 0%;
    height: 50px;
    grid-template-columns: 3fr 2fr 1fr 1fr 1fr 2fr; 
    grid-template-rows: 1fr;
    column-gap: 1%;
    
    grid-template-areas: "button button . . . sliderLabel slider";
}

/*
Styling for the buttons
*/
.button {
    grid-area: "button";
    position: relative;
    background-color:rgb(253,185,39);
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
}
#back-button{
    grid-area: "button";
    position: relative;
    background-color: rgb(253,185,39);
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
}
#next-button{
    grid-area: "button";
    position: relative;
    background-color: rgb(253,185,39);
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
}
/* button {
    grid-area: "button";
    position: relative;
    background-color: rgb(253,185,39);
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
} */

.button:active {
    box-shadow: 0 5px rgb(253,185,39);
    transform: translateY(4px);
}

#sliderLabel {
    grid-area: "sliderLabel";
}

/* 
tool tip stylings
*/

div.tooltip {
    position: fixed;
    text-align: center;
    min-width: 5%;
    min-height: 5%;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 6px;
    pointer-events: none;
    margin: auto;
}

.tooltip h5 {
    margin: auto;
    font: 10px sans-serif;
}

.hovered{
    fill: rgb(253,185,39);
    stroke: white;
}

.slider {
    -webkit-appearance: none;
    width: 725px;
    height: 15px;
    border-radius: 5px;
    background:rgb(85,37,130);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider2 {
    justify-content: right;
    -webkit-appearance: none;
    width: 725px;
    height: 15px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb,
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(253,185,39);
    cursor: pointer;
}

.slider::-moz-range-thumb, 
.slider2::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D4E157;
    cursor: pointer;
}

.slider:hover,
.slider2:hover {
    opacity: 1;
}

.slider-label svg {
    width: 750px;
    height: 35px;
}

.slider-label svg text {
    text-anchor: middle;
}

.slider-wrap {
    display: inline-block;
    /* float: left; */
    width: 750px;
}

/* 
Styling for the container containing the story buttons and sliders
*/
.containerC {
    display: grid;
    position: relative;
    left: 0%;
    grid-template-columns: 1fr 1fr 4.75fr 2.4fr 10fr; 
    grid-template-rows: 1fr;
    column-gap: 0%;
    
    grid-template-areas: "button button bubbles sliderLabel2 slider";
}

#bubbles {
    grid-area: "bubbles";
}

#sliderLabel2 {
    grid-area: "sliderLabel2";
}

#overlay {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 0;
    left: 1.5%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#story-summary {
    position: absolute;
    padding: 0%;
    width: 647px;
    height: 227px;
    top: 0;
    left: 1.5%;
    right: 0;
    bottom: 0;
    z-index: 2;
}

/* #dropdown {
    position: absolute;
    left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
} */

select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
}

/* selection styling */
.selectedHex{
    opacity: 1;
    stroke-opacity: 1;
}

.not-selected{
    opacity: 0.3;
    /* fill: grey; */
    stroke-opacity: 1;
    stroke: black;
}

.fullCourt{
    z-index: -1;
}
/* sub vis styling */

div.subVis {
    display: grid;
    position: absolute;
    align-self: center;
    width: 400px;
    height: 600px;
    padding: 2px;
    background: rgb(253, 232, 185);
    border-style: solid;
    border-color: rgb(241, 207, 134);
    border-radius: 6px;
    pointer-events: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: "subSVG-1"
    "subSVG-2";
}

#subSVG-1 {
    grid-area: "subSVG-1";
    place-self: center;
}

#subSVG-2 {
    grid-area: "subSVG-2";
    place-self: center;
}

.subvis-label{
    text-anchor: middle;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.year-label{
    font-family: sans-serif;
    font-weight: bold;
}

.svg-text {
    text-anchor: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.no-display {
    display: none !important;
}

#tv {
    position: absolute;
    width: 600px;
    height: 500px;
    top: 0%;
    left: 25%;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    font-size: 490px;
}

#ball {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0%;
    left: 4%;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    font-size: 50px;
    color: rgb(255, 51, 0);
}

/* home page styling */
#home-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "div";
}

#home-header{
    position: absolute;
    font-size: 32px;
    left: 490px;
    color: #948e65;
    text-shadow: 2px 1px black;
}

#home-div {
    width: 100%;
    height: 100%;
    min-width: 750px;
    min-height: 750px;
    grid-area: "div";
    align-self: center;
    justify-self: center;
}

#kobe-trib{
    width: 100%;
    height: auto;
    z-index: 0;
}

#home-body{
    background-color: black;
}

#about-button{
    position: absolute;
    background-color:#948e65;
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
    top: 825px;
    left: 540px;
    border-radius: 8px;
    width: 225px;
}

#heatmap-button{
    position: absolute;
    background-color: #948e65;
    padding: 1% 1%;
    text-align: center;
    font-size: 25px;
    top: 825px;
    left: 1120px;
    border-radius: 8px;
    width: 225px;
}

footer{
    color: white;
}

/* About page styling */
#about-header{
    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 30px;
    grid-template-areas: "home" "heat" ".";
}

#aboutVid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "video";
}

#aboutID{
    grid-area: "video";
    align-self: center;
    justify-self: center;
}

#aboutText{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

#about-home{
    display: block;
    grid-area: "home";
    border-radius: 6px;
    background-color: rgb(253,185,39);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

#about-heatmap{
    display: block;
    grid-area: "heat";
    border-radius: 6px;
    background-color: rgb(85,37,130);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

.hyper{
    color: white;
}

a{
    text-decoration: none;
}

/* Story bubble styling */

.bubble-style {
    fill: rgb(253,185,39);
    stroke: rgb(85,37,130);
    stroke-width: 3px;
}

.bubble-fill {
    fill: rgb(85,37,130);
    stroke: rgb(253,185,39);
    stroke-width: 3px;
}

/* Background picture styling */

#kobe-jersey{
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
}

#background-pic-jersey {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    z-index: -2;
}
